*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/*
/.idea/dictionaries/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/release
app/staging
app/bin
.idea
/.ruby-version
commit.prop
